* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
    font-size: 36px;
}

h2 {
    font-family: "Noto Sans", sans-serif;
    font-size: 30px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

p {
    font-size: 18px;
}

.container {
    width: 100%;
    min-height: 100vh;
    overflow: center;
}

header {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 15px;
    background-color: #fff;
}

.logo {
    width: 80px;
    cursor: pointer;
    margin: 4px 0;
    justify-self: center;
    display: flex;
    align-items: center;
}

.logo div {
    min-width: 380px;
    color: #fd7558;
    font-size: 22px;
}

.navigation a {
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    width: 130px;
    height: 100%;
    padding: 22.5px 0;
    color: #fd7558;
    margin: 0px 5px;
}

.navigation a:hover {
    font-weight: 900;
}

.active {
    border-bottom: #fd7558 6px solid;
    font-weight: 900;
}

.menu_icon {
    width: 27px;
    cursor: pointer;
    display: none;
    padding: 26px 0;
}

.navigation .outline-li {
    margin-right: 20px;
    padding: 7px 5px;
    width: 100px;
    border-color: #fd7558;
    border: solid;
    color: #fd7558;
    cursor: pointer;
}

.outline-li:hover {
    border: solid;
    border-color: #fd7558;
    background-color: #fd7558;
    color: #fff;
    text-decoration: none;
}

.navigation a.cari {
    color: #fd7558;
    font-size: 20px;
    padding: 0;
    width: 60px;
}

@media only screen and (max-width: 768px) {
    nav .navigation {
        width: 100%;
        background-color: #fd7558;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 10;
    }

    nav .navigation a {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
        color: #fff;
        width: 100%;
        margin: 0;
    }

    .navigation .active {
        background-color: #fff;
        color: #fd7558;
    }

    nav .navigation a:not(.active):hover {
        color: #fff;
        border: none;
    }

    .menu_icon {
        display: block;
    }

    #menuList {
        overflow: hidden;
        transition: 0.5s;
        max-height: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .form_container {
        padding: 40px 30px;
    }

    .box_masuk input {
        width: 300px;
    }
}

/* batass */

.page1 {
    width: 100%;
    height: 48vw;
    box-sizing: border-box;
}

.div1 {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 25px;
    float: left;
    height: 300px;
    box-sizing: border-box;
    background-image: url(../img/atas.png);
    background-size: cover;
    text-align: center;
}

.div2 {
    display: flex;
    width: 50%;
    padding: 25px;
    float: right;
    height: 300px;
    box-sizing: border-box;
    background-image: url(../img/bawah.png);
    background-size: cover;
    text-align: center;
}

/* sub div*/
.card1 {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2.5px solid #fd7558;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 6px 10px rgba(253, 117, 88, 0.4);
    transition: all 0.2s;
}

.card1:hover {
    box-shadow: 0px 6px 10px rgba(253, 117, 88, 0.7);
    transform: scale(1.01);
}

.card2:hover {
    box-shadow: 0px 6px 10px rgba(253, 117, 88, 0.7);
    transform: scale(1.01);
}
.card2 {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2.5px solid #fd7558;
    border-radius: 25px;
    box-shadow: 0px 6px 10px rgba(253, 117, 88, 0.4);
    background-color: #fff;
    background-size: cover;
    transition: all 0.2s;
}

/*subdiv 1 dan 2*/
.subdiv1 {
    width: 100%;
    height: 75%;
    box-sizing: border-box;
    border-radius: 22px 22px 0 0;
    text-align: center;
}

.subdiv2 {
    width: 100%;
    height: 25%;
    padding-top: 15px;
    padding-left: 1.5vw;
    box-sizing: border-box;
    background-color: #fd7558;
    border-top: 2.5px solid #fd7558;
    border-radius: 0 0 22px 22px;
    color: #ffffff;
}

.overlay {
    position: relative;
    border-radius: 20px 20px 20px 20px;
    margin: 0;
    width: 0;
    background-color: #fd7558;
    height: 10%;
    overflow: hidden;
    transition: 0.5s ease;
    width: 0;
    color: #fff;
}

.cardlink {
    text-align: left;
    width: fit-content;
    font-size: 20px;
    cursor: pointer;
}

.subdiv2:hover .overlay {
    width: 35%;
}

.subdiv2:hover {
    background-color: #ffffff;
    color: #fd7558;
    transition: 0.5s;
}

.icon1 {
    margin-top: 3%;
    margin-bottom: 0%;
    width: 65px;
}

#icon2 {
    width: 60%;
    margin-top: 3%;
    color: #fd7558;
}

.teks {
    margin-top: 40px;
    font-size: 20px;
}

/*Biar responsive*/
@media screen and (max-width: 900px) {
    .page1 {
        width: 100%;
        height: 86vw;
        box-sizing: border-box;
    }

    .div1 {
        width: 100%;
        padding-bottom: 25px;
        height: 250px;
        box-sizing: border-box;
        /* border: 1px solid yellowgreen; */
    }

    .div2 {
        width: 100%;
        padding-bottom: 25px;
        height: 250px;
        box-sizing: border-box;
        /* border: 1px solid cadetblue; */
    }

    .cardlink {
        grid-row: 4/5;
        align-self: center;
        font-size: 15px;
        /* padding-top: 5px; */
    }

    .subdiv2:hover .overlay {
        width: 28%;
        height: 10%;
    }

    .subdiv2 {
        padding-top: 12px;
    }

    .teks {
        margin-top: 20px;
        font-size: 15px;
    }
}
