* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
    font-size: 36px;
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

p {
    font-size: 18px;
}

.container {
    width: 100%;
    min-height: 100vh;
    overflow: center;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #FFECAA;
    padding-bottom: 13px;
}


.logo {
    width: 80px;
    cursor: pointer;
    margin: 8px 0;
}

nav {
    flex: 1;
    text-align: center;
}

nav ul {
    float: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    width: 160px;
}

nav ul li a {
    text-decoration: none;
    color: #FD7558;
    padding-bottom: 20px;
}

nav ul li a:hover {
    font-weight: 800;
    color: #FD7558;
}

/* Ini buat nunjukin dia lagi di page mana */
.active {
    border-bottom: 6px solid #FD7558;
    font-weight: 800;
    color: #FD7558;
}

.outline-li {
    padding: 10px 20px;
    background-color: #FFECAA;
    border-color: #FD7558;
    border: solid;
    color: #FD7558;
    cursor: pointer;
}

.outline-li:hover {
    border: solid;
    border-color: #FD7558;
    background-color: #FD7558;
    color: #FFECAA;
    text-decoration: none;
}


.body_container {
    background-color: white;
    /* atur aje bos */
}

.menu_icon {
    width: 27px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 1240px) {    
    nav ul{
        width: 100%;
        background-color: #FD7558;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
    }

    nav ul li a, .outline-li {
        color: #FFF;
        font-size: 16px;
        background-color: #FD7558;
        border: none;
    }

    nav ul li a:hover, .outline-li:hover {
        background-color: #FD7558;
        color: #FFECAA;
        border: none;
    }

    .menu_icon {
        display: block;
    }

    #menuList, #menuList2 {
        overflow: hidden;
        transition: 0.5s;
    }
}


@media only screen and (max-width: 768px) {    
    .form_container {
        padding: 40px 30px;
    }

    .box_masuk input {
        width:300px;
    }
}

/* batass */


#judul1 {
    padding-top: 1.5vw ;
    width: auto;
    font-size: 3vw;
}

#judul3{
    width: auto;
    font-size: 3vw;
}

#p1 {
    width: auto;
    padding-top: 1vw;
    font-size: 1.5vw;
}

#search{
    padding-top: 2vw;
    box-sizing: border-box;
    height: 20%;
}

input {
    position: relative;
    display: inline-block;
    font-size: 1.5vw;
}

input[type="text"]{
    position: relative;
    background: white;
    border: 1.5px solid;
    border-color: #FD7558 ;
    border-radius: 20px 20px 20px 20px;
    outline: none;
    height: 2.9vw;
    padding-left: 2vw;
}

.btn{
    position: relative;
    background-color: #FD7558;
    border: 1.5px solid #FD7558;
    border-radius: 20px;
    color: white;
    width: 5vw;
    left: -3vw;
    padding: 0.7vw 0.6vw 0.5vw 0.6vw;
    font-size: 1.2vw;
    cursor: pointer;
}

.btn:hover {
    border: 1.5px solid #FD7558;
    background-color: white;
    color: #FD7558;
    transition: 0.5s;
}

.square{
    position: relative;
    stop-opacity: inherit;
    height: 200px;
    width: 480px;
    background-color: #FD7558;
    opacity: 0.5;
    position: relative;
    left: 390px;
    border-radius: 20px;
}


.page1 {
    width: 100%;
    height: 45vw;
    background-image: url(../img/hmp-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#page2{
    position: relative;
    height: 45vw;
    background-image: url(../img/page-2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#page3{
    position: relative;
    height: 45vw;
    /* background-color: blanchedalmond; */
    text-align: center;
    background-image: url(../img/page-3.png);
    background-size: 100%;
}


.div1 {
    width: 100%;
    height: 20%;
    box-sizing: border-box;
}
  
.div2 {
    width: 100%;
    height: 40%;  
    box-sizing: border-box;
}

.subdiv1{
    float: right;
    width: 30%;
    height: 100%;
    box-sizing: border-box;
}

.subdiv2{
    float: right;
    width: 40%;
    height: 100%;
    background: rgb(255, 236, 170); 
    background: rgba(255, 236, 170, 0.5); 
    color: #000000;
    /* border-radius: 20px; */
    box-sizing: border-box;
    
}

.subdiv3{
    float: left;
    width: 30%;
    height: 100%;
    box-sizing: border-box;
}

.subdiv4{
    height: 65%;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

.subdiv5{
    height: 35%;
    box-sizing: border-box;
    /* border: 1px solid blueviolet; */
}

.subdiv6{
    width: 20%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    /* border: 1px solid orange; */
}

.subdiv7{
    padding-top: 2%;
    width: 60%;
    float: left;
    height: 100%;
    box-sizing: border-box;
    /* border: 1px solid black; */
    background: rgb(255, 236, 170); 
    background: rgba(255, 236, 170, 0.5);
}

.subdiv8{
    width: 20%;
    float: right;
    height: 100%;
    box-sizing: border-box;
    /* border: 1px solid turquoise; */
}


.div3 {
    width: 100%;
    height: 40%;  
    box-sizing: border-box;
}

.div4 {
    width: 100%;
    height: 20%;  
    /* border: 1px solid blue; */
    box-sizing: border-box;
}

.div5 {
    width: 100%;
    height: 80%;  
    /* border: 1px solid blueviolet; */
    box-sizing: border-box;
}

.div6 {
    width: 100%;
    height: 20%;  
    /* border: 1px solid blueviolet; */
    box-sizing: border-box;
}

.div7 {
    width: 100%;
    height: 60%;  
    /* border: 1px solid crimson; */
    box-sizing: border-box;
}

.div8 {
    width: 100%;
    height: 20%;  
    /* border: 1px solid rebeccapurple; */
    box-sizing: border-box;
}

.judul2 {
    font-size: 3vw;
}

#p2{
    padding-top: 2.5vw;
    font-size: 1.5vw;
}

.p3{
    padding-top: 1vw;
    font-size: 1.5vw;
}

.p4{
    font-size: 1.5vw;
    padding-top: 3%;
}


.hashtag{
    padding-right: 0%;
    color: white;
    text-decoration: underline;
    font-weight: 400;
    font-size: 1.5vw;
}

.batas{
    position: relative;
    padding-left: 5%;
    float: left;
    width: 50%;
    height: 100%;
    background-color: #FD7558;
}

div.gallery {
    position: relative;
    padding-top: -10%;
    margin: 0.5vw;
    float: right;
    border: 1.5px solid #FD7558;
    background-color: #FD7558;
}

img.image{
    float: right;
    width: 10vw;
    height: auto;
    border-bottom: 1.5px solid #FD7558 ;
}

.desc{
    position: relative;
    top: 0.8vw;
    width: 10vw;
    padding: 1.5vw;
    text-align: center;
    font-size : 1vw;
    color: #fff;
}

div.gallery:hover{
    background-color: #fff;
    transition: 0.5s;
}

img.image:hover{
    border-bottom: 1.5px solid #FD7558;
}

.desc:hover{
    color: #FD7558;
    transition: 0.5s;
}

.batas2{
    padding-top: 6%;
    width: 50%;
    height: 100%;
    float: right;
}

.baris1{
    padding-right: 13vw;
    height: 35%;
    width: 100%;
    float: right;
}

.baris2{
    padding-top: 2vw;
    padding-right: 13vw;
    height: 65%;
    width: 100%;
    float: right;
}

#kes{
    background-color: transparent;
    border: none;
}

.button{
    margin: 4vw 0.8vw 0 1.1vw;
    padding: 0.4vw 1.2vw 0.4vw 1.2vw;
    border: 1.5px solid #FD7558;
    border-radius: 5px;
    background-color: #FD7558;
    color: white;
    cursor: pointer;
    font-size: 1.2vw;
}

.button:hover{
    background-color: white;
    color: #FD7558;
    border: 1.5px solid #FD7558;
}

#cc{
    padding: 0.6vw 1.2vw 0.6vw 1.2vw;
    margin: 4vw;
    background-color: #FD7558;
    border: 1.5px solid #FD7558;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1.2vw;
}

#cc:hover{
    background-color: white;
    color: #FD7558;
    transition: 0.3s;
}






