* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
    font-size: 36px;
}

h2 {
    font-family: "Noto Sans", sans-serif;
    font-size: 30px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

p {
    font-size: 18px;
}

.container {
    width: 100%;
    min-height: 100vh;
    overflow: center;
}

header {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 15px;
    background-color: #fff;
    position: absolute;
    z-index: 20;
}

.logo {
    width: 80px;
    cursor: pointer;
    margin: 4px 0;
    justify-self: center;
    display: flex;
    align-items: center;
}

.logo div {
    min-width: 380px;
    color: #fd7558;
    font-size: 22px;
}

.navigation a {
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    width: 130px;
    height: 100%;
    padding: 22.5px 0;
    color: #fd7558;
    margin: 0px 5px;
}

.navigation a:hover {
    font-weight: 900;
}

.active {
    border-bottom: #fd7558 6px solid;
    font-weight: 900;
}

.menu_icon {
    width: 27px;
    cursor: pointer;
    display: none;
    padding: 26px 0;
}

.navigation .outline-li {
    margin-right: 20px;
    padding: 7px 5px;
    width: 100px;
    border-color: #fd7558;
    border: solid;
    color: #fd7558;
    cursor: pointer;
}

.outline-li:hover {
    border: solid;
    border-color: #fd7558;
    background-color: #fd7558;
    color: #fff;
    text-decoration: none;
}

.navigation a.cari {
    color: #fd7558;
    font-size: 20px;
    padding: 0;
    width: 60px;
}

@media only screen and (max-width: 768px) {
    nav .navigation {
        width: 100%;
        background-color: #fd7558;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 10;
    }

    nav .navigation a {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
        color: #fff;
        width: 100%;
        margin: 0;
    }

    .navigation .active {
        background-color: #fff;
        color: #fd7558;
    }

    nav .navigation a:not(.active):hover {
        color: #fff;
        border: none;
    }

    .menu_icon {
        display: block;
    }

    #menuList,
    #menuList2 {
        overflow: hidden;
        transition: 0.5s;
        max-height: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .form_container {
        padding: 40px 30px;
    }

    .box_masuk input {
        width: 300px;
    }
}

/* batass */

#judul1 {
    padding-top: 10px;
    width: auto;
    font-size: 40px;
}

#p1 {
    width: auto;
    padding-top: 8px;
    font-size: 20px;
}

#btn {
    position: relative;
    color: #fff;
    background-color: #fd7558;
    font-size: 20px;
    border: 1.5px solid #fd7558;
    width: 60px;
    text-align: center;
    border-radius: 20px;
    padding: 4.5px 0 1px 0;
    left: -45px;
    height: 35px;
}

#search {
    margin-top: 30px;
}

.input {
    width: 190px;
    font-size: 15px;
    padding: 4px 0 3px 10px;
    border: 1.5px solid #fd7558;
    border-radius: 20px;
    height: 35px;
}

#btn:hover {
    border: 1.5px solid #fd7558;
    background-color: white;
    color: #fd7558;
    transition: 0.5s;
}

.square {
    position: relative;
    stop-opacity: inherit;
    height: 200px;
    width: 480px;
    background-color: #fd7558;
    opacity: 0.5;
    position: relative;
    left: 390px;
    border-radius: 20px;
}

.page1 {
    width: 100%;
    height: 560px;
    background-image: url(../img/hmp-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.div1 {
    width: 100%;
    height: 20%;
    box-sizing: border-box;
}

.div2 {
    width: 100%;
    height: 50%;
    box-sizing: border-box;
}

.div3 {
    width: 100%;
    height: 30%;
    box-sizing: border-box;
}

.subdiv1 {
    float: right;
    width: 20%;
    height: 100%;
    box-sizing: border-box;
}

.subdiv2 {
    float: right;
    width: 60%;
    height: 100%;
    background: rgb(255, 236, 170);
    background: rgba(255, 236, 170, 0.5);
    color: #000000;
    box-sizing: border-box;
}

.subdiv3 {
    float: left;
    width: 20%;
    height: 100%;
    box-sizing: border-box;
}

/*page 2*/

#page2 {
    position: relative;
    height: 560px;
    background-image: url(../img/page-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.div4 {
    width: 100%;
    height: 20%;
    box-sizing: border-box;
}

.div5 {
    width: 100%;
    height: 80%;
    box-sizing: border-box;
}

.subdiv4 {
    height: 65%;
    box-sizing: border-box;
}

.subdiv5 {
    height: 35%;
    box-sizing: border-box;
    font-size: 18px;
}

.hashtag {
    padding-right: 0%;
    color: white;
    text-decoration: underline;
    font-weight: 400;
}

.batas2 {
    width: 50%;
    height: 100%;
    float: right;
}

.batas {
    position: relative;
    padding-left: 5%;
    float: left;
    width: 50%;
    height: 100%;
    background-color: #fd7558;
}

.baris1 {
    padding-right: 13vw;
    padding-top: 75px;
    height: 55%;
    width: 100%;
    float: right;
}

.baris2 {
    padding-right: 13vw;
    height: 45%;
    width: 100%;
    float: right;
}

#p2 {
    padding-top: 25px;
    font-size: 20px;
}

.p3 {
    padding-top: 10px;
    font-size: 20px;
}

div.gallery {
    position: relative;
    margin: 3px;
    height: 150px;
    float: right;
    border: 1.5px solid #fd7558;
    color: #fff;
    background-color: #fd7558;
    font-size: 13px;
    text-align: center;
}

img.image {
    float: right;
    width: 130px;
    height: auto;
    border-bottom: 1.5px solid #fd7558;
}

.desc {
    position: relative;
    top: 10px;
    width: 130px;
    height: 10%;
}

div.gallery:hover {
    background-color: #fff;
    color: #fd7558;
    transition: 0.5s;
    cursor: pointer;
}

img.image:hover {
    border-bottom: 1.5px solid #fd7558;
}

.desc:hover {
    color: #fd7558;
    transition: 0.5s;
}

#kes {
    background-color: transparent;
    border: none;
}

.button {
    margin: 60px 25px 0 20px;
    padding: 5px 10px 5px 10px;
    border: 1.5px solid #fd7558;
    border-radius: 5px;
    background-color: #fd7558;
    color: white;
    cursor: pointer;
    font-size: 13px;
}

.button:hover {
    background-color: white;
    color: #fd7558;
    border: 1.5px solid #fd7558;
}

/*Page 3*/

#page3 {
    position: relative;
    height: 560px;
    text-align: center;
    background-image: url(../img/page-3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#judul3 {
    width: auto;
}

.subdiv6 {
    width: 20%;
    height: 100%;
    float: left;
    box-sizing: border-box;
}

.subdiv7 {
    padding-top: 2%;
    width: 60%;
    float: left;
    height: 100%;
    box-sizing: border-box;
    background: rgb(255, 236, 170);
    background: rgba(255, 236, 170, 0.5);
}

.subdiv8 {
    width: 20%;
    float: right;
    height: 100%;
    box-sizing: border-box;
}

.div6 {
    width: 100%;
    height: 20%;
    box-sizing: border-box;
}

.div7 {
    width: 100%;
    height: 60%;
    box-sizing: border-box;
}

.div8 {
    width: 100%;
    height: 20%;
    box-sizing: border-box;
}

.p4 {
    padding-top: 3%;
}

#cc {
    padding: 8px 12px 10px 8px;
    margin: 30px;
    background-color: #fd7558;
    border: 1.5px solid #fd7558;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

#cc:hover {
    background-color: white;
    color: #fd7558;
    transition: 0.3s;
}

@media screen and (max-width: 900px) {
    .page1 {
        background-image: url(../img/page1-res.png);
    }

    .subdiv1 {
        width: 10%;
    }

    .subdiv2 {
        width: 80%;
    }

    .subdiv3 {
        width: 10%;
    }

    .div1 {
        height: 15%;
    }

    .div2 {
        height: 70%;
    }

    .div3 {
        height: 15%;
    }

    #judul1 {
        padding-top: 50px;
    }

    #p1 {
        font-size: 15px;
        margin-top: 20px;
    }

    #search {
        padding-left: 45px;
    }

    /*page 2*/

    #page2 {
        background-image: url(../img/page2-res.png);
    }

    .batas {
        width: 100%;
        height: 50%;
    }

    .batas2 {
        width: 100%;
        height: 50%;
    }

    #p2,
    .p3,
    #judul2 {
        font-size: 15px;
    }

    .subdiv4 {
        height: 80%;
    }
    .subdiv5 {
        height: 20%;
        font-size: 12px;
        padding-top: 10px;
    }

    .baris1 {
        padding-top: 20px;
        float: none;
        height: 50%;
        object-position: center;
        padding-right: 30vw;
    }

    .baris2 {
        height: 50%;
        padding: 0;
        padding-right: 30vw;
    }

    div.gallery {
        height: 90px;
        font-size: 10px;
    }

    .desc {
        width: 80px;
        top: 4px;
    }

    img.image {
        float: right;
        width: 80px;
        height: auto;
    }

    .button {
        margin: 35px 4px 0 12px;
        padding: 4px 8px 4px 8px;
        font-size: 10px;
    }

    /*page3*/
    .subdiv6,
    .subdiv8 {
        width: 5%;
    }

    .subdiv7 {
        width: 90%;
    }

    .p4,
    p5,
    #cc {
        font-size: 15px;
    }
}
