* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
    font-size: 36px;
    color: #fd7558;
}

h2 {
    font-family: "Noto Sans", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #fd7558;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

p {
    font-size: 18px;
}

.container {
    width: 100%;
    min-height: 100vh;
    overflow: center;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #fff;
    padding-bottom: 13px;
}

.logo {
    width: 80px;
    cursor: pointer;
    margin: 8px 0;
}

nav {
    flex: 1;
    text-align: center;
}

nav ul {
    float: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    width: 160px;
}

nav ul li a {
    text-decoration: none;
    color: #fd7558;
    padding-bottom: 20px;
}

nav ul li a:hover {
    font-weight: 800;
    color: #fd7558;
}

/* Ini buat nunjukin dia lagi di page mana */
.active {
    border-bottom: 6px solid #fd7558;
    font-weight: 800;
    color: #fd7558;
}

.outline-li {
    padding: 10px 20px;
    background-color: #fff;
    border-color: #fd7558;
    border: solid;
    color: #fd7558;
    cursor: pointer;
}

.outline-li:hover {
    border: solid;
    border-color: #fd7558;
    background-color: #fd7558;
    color: #fff;
    text-decoration: none;
}

/* KHUSUS HEADER VERSI 3 */
.partner {
    padding-left: 10px;
    color: #fd7558;
    font-family: "Noto Sans";
    font-size: 22px;
    font-weight: 600;
}
/* YAK SEGITU AJA */

.menu_icon {
    width: 27px;
    cursor: pointer;
    display: none;
}

.warning {
    display: none;
}

@media only screen and (max-width: 1300px) {
    .warning {
        display: flex;
        width: 100%;
        height: 80vh;
        font-family: "Noto Sans";
        font-weight: 700;
        font-size: 40px;
        color: #fd7558;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .body_container {
        display: none;
    }
}

@media only screen and (max-width: 1240px) {
    nav ul {
        width: 100%;
        background-color: #fd7558;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
    }

    nav ul li a,
    .outline-li {
        color: #fff;
        font-size: 16px;
        background-color: #fd7558;
        border: none;
    }

    nav ul li a:hover,
    .outline-li:hover {
        background-color: #fd7558;
        color: #fff;
        border: none;
    }

    .active {
        color: #fff;
    }

    .menu_icon {
        display: block;
    }

    #menuList {
        overflow: hidden;
        transition: 0.5s;
    }
}

/* Untuk button */
button {
    background-color: #fd7558;
    border: solid;
    color: white;
    cursor: pointer;
    transition: 0.7s;
    margin: 0 auto;
    padding: 15px 50px;
    font-size: 20px;
}

button:hover {
    border: solid;
    border-color: #fd7558;
    color: #fd7558;
    background-color: white;
}

.body_container {
    width: 100%;
}

.titles {
    margin: 30px;
}

table img {
    width: 60px;
    margin-right: 20px;
}

.isi {
    width: 100%;
    margin-top: -5%;
}

.tabell {
    margin: 0px 0 70px 80px;
    width: 90%;
}

.tabell td {
    padding: 0 20px;
}

.tabell input[type="date"] {
    border: 3px solid #fd7558;
    border-radius: 1px;
    outline: none;
    font-size: 20px;
    padding: 5px;
}

.info {
    position: relative;
    float: left;
    right: 0%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 50px auto;
}

.info td {
    padding: 10px 0;
}

.now-queue {
    text-align: center;
}

.sub-info {
    text-align: left;
}

table input[type="number"] {
    width: 5vw;
    border: 3px solid #fd7558;
    border-radius: 1px;
    outline: none;
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
    font-size: 28px;
    color: #fd7558;
    padding: 3px;
    display: inline;
}

table .countdown {
    display: inline;
}

.countdown h1,
.countdown h2 {
    display: inline;
}

.tab {
    margin: 30px 0 70px 50px;
    height: 70px;
    border-collapse: collapse;
    border-spacing: none;
    width: 50%;
    display: inline-block;
}

.tab thead th,
tbody td {
    padding: 10px 50px;
    height: 35px;
    text-align: center;
}

.tab thead th {
    background-color: #fd7558;
    color: #ffecaa;
}

.tab tbody td {
    border-bottom: solid;
    border-color: #fd7558;
}

.tab tbody p {
    background-color: #ffecaa;
    padding-left: 10px;
}

.tab select {
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: #fd7558 3px solid;
    background-color: #ffecaa;
}
