* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
    font-size: 36px;
}

h2 {
    font-family: "Noto Sans", sans-serif;
    font-size: 30px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

p {
    font-size: 18px;
}

.container {
    width: 100%;
    min-height: 100vh;
    overflow: center;
}

header {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 15px;
    background-color: #fff;
}

.logo {
    width: 80px;
    cursor: pointer;
    margin: 4px 0;
    justify-self: center;
    display: flex;
    align-items: center;
}

.logo div {
    min-width: 380px;
    color: #fd7558;
    font-size: 22px;
}

.navigation a {
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    width: 130px;
    height: 100%;
    padding: 22.5px 0;
    color: #fd7558;
    margin: 0px 5px;
}

.navigation a:hover {
    font-weight: 900;
}

.active {
    border-bottom: #fd7558 6px solid;
    font-weight: 900;
}

.menu_icon {
    width: 27px;
    cursor: pointer;
    display: none;
    padding: 26px 0;
}

.navigation .outline-li {
    margin-right: 20px;
    padding: 7px 5px;
    width: 100px;
    border-color: #fd7558;
    border: solid;
    color: #fd7558;
    cursor: pointer;
}

.outline-li:hover {
    border: solid;
    border-color: #fd7558;
    background-color: #fd7558;
    color: #fff;
    text-decoration: none;
}

.navigation a.cari {
    color: #fd7558;
    font-size: 20px;
    padding: 0;
    width: 60px;
}

@media only screen and (max-width: 1150px) {
    nav .navigation {
        width: 100%;
        background-color: #fd7558;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 10;
    }

    nav .navigation a {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
        color: #fff;
        width: 100%;
        margin: 0;
    }

    .navigation .active {
        background-color: #fff;
        color: #fd7558;
    }

    nav .navigation a:not(.active):hover {
        color: #fff;
        border: none;
    }

    .menu_icon {
        display: block;
    }

    #menuList,
    #menuList2 {
        overflow: hidden;
        transition: 0.5s;
        max-height: 0px;
    }
}

.warning {
    display: none;
}

@media only screen and (max-width: 1050px) {
    .warning {
        display: flex;
        width: 100%;
        height: 80vh;
        font-family: "Noto Sans";
        font-weight: 700;
        font-size: 40px;
        color: #fd7558;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .body_container {
        display: none;
    }
}

/* Untuk button */
.button {
    background-color: #fd7558;
    border: solid;
    color: white;
    cursor: pointer;
    transition: 0.7s;
    margin: 0 auto;
    padding: 10px 40px;
    font-size: 18px;
}

.button:hover {
    border: solid;
    border-color: #fd7558;
    color: #fd7558;
    background-color: white;
}

.body_container {
    width: 100%;
}

.box_image {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 440px;
    height: 330px;
    margin: 230px 0 0 310px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: inline-block;
}

.box_image img {
    width: 100%;
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
    backface-visibility: hidden;
}

.front {
    transform: perspective(1000px) rotateY(0deg);
    z-index: 2;
}

.back {
    transform: perspective(1000px) rotateY(180deg);
    z-index: 1;
}

.box_image:hover .front {
    transform: perspective(1000px) rotateY(-180deg);
    z-index: 2;
}
.box_image:hover .back {
    transform: perspective(1000px) rotateY(0deg);
    z-index: 1;
}

.tabell {
    margin: 0 0 0 580px;
    top: 20%;
    width: 400px;
    display: inline;
}

.tabell td {
    padding: 10px;
}

.tabell img {
    width: 30px;
    margin-right: 20px;
}

.outlet-description,
.outlet-location {
    width: 75%;
    margin: 50px 0 40px 80px;
}
