* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
    font-size: 36px;
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

p {
    font-size: 18px;
}

.container {
    width: 100%;
    min-height: 100vh;
    overflow: center;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #FFECAA;
}


.logo {
    width: 80px;
    cursor: pointer;
    margin: 8px 0;
}

nav {
    flex: 1;
    text-align: center;
}

nav ul {
    float: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    width: 160px;
}

nav ul li a {
    text-decoration: none;
    color: #FD7558;
    padding-bottom: 20px;
}

nav ul li a:hover {
    font-weight: 800;
    color: #FD7558;
}

/* Ini buat nunjukin dia lagi di page mana */
.active {
    border-bottom: 6px solid #FD7558;
    font-weight: 800;
    color: #FD7558;
}

.outline-li {
    padding: 10px 20px;
    background-color: #FFECAA;
    border-color: #FD7558;
    border: solid;
    color: #FD7558;
    cursor: pointer;
}

.outline-li:hover {
    border: solid;
    border-color: #FD7558;
    background-color: #FD7558;
    color: #FFECAA;
    text-decoration: none;
}


/* KHUSUS HEADER VERSI 2 */
.cari {
    padding-top: 16px;
    padding-right: 20px;
    padding-left: 20px;
    color: #FD7558;
    font-size: 24px;
    margin: 0 50px;
    width: 60px;
}

.cari:hover {
    border-bottom: none;
    color: #FD7558;
    font-size: 26px;
    cursor: pointer;
}

/* YAK SEGITU AJA */


/* KHUSUS HEADER VERSI 3 */
.partner {
    padding-left: 10px;
    color: #FD7558;
    font-family: 'Noto Sans';
    font-size: 22px;
    font-weight: 600;
}
/* YAK SEGITU AJA */

.body_container {
    background-color: white;
    /* atur aje bos */
}

.menu_icon {
    width: 27px;
    cursor: pointer;
    display: none;
}

/* Untuk button */
button {
    background-color: #FD7558;
    border: solid;
    color: white;
    cursor: pointer;
    transition: .7s;
    margin: 30px 0;
    padding: 15px 50px;
    font-size: 20px;
}

button:hover {
    border: solid;
    border-color: #FD7558;
    color: #FD7558;
    background-color: white;

}

@media only screen and (max-width: 1240px) {    
    nav ul{
        width: 100%;
        background-color: #FD7558;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
    }

    nav ul li a, .outline-li {
        color: #FFF;
        font-size: 16px;
        background-color: #FD7558;
        border: none;
    }

    nav ul li a:hover, .outline-li:hover {
        background-color: #FD7558;
        color: #FFECAA;
        border: none;
    }

    .menu_icon {
        display: block;
    }

    #menuList {
        overflow: hidden;
        transition: 0.5s;
    }
}
