* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
    font-size: 36px;
}

h2 {
    font-family: "Noto Sans", sans-serif;
    font-size: 30px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

p {
    font-size: 18px;
}

header {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 15px;
    background-color: #FFF;
}

.logo {
    width: 80px;
    cursor: pointer;
    margin: 4px 0;
    justify-self: center;
    display: flex;
    align-items: center;
}

.logo div {
    min-width: 380px;
    color: #FD7558;
    font-size: 22px;
}


.navigation a {
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    width: 130px;
    height: 100%;
    padding: 22.5px 0;
    color: #FD7558;
    margin: 0px 5px;
}

.navigation a:hover {
    font-weight: 900;
}

.active {
    border-bottom: #FD7558 6px solid;
    font-weight: 900;
}

.menu_icon {
    width: 27px;
    cursor: pointer;
    display: none;
    padding: 26px 0;
}

.navigation .outline-li {
    margin-right: 20px;
    padding: 7px 5px;
    width: 100px;
    border-color: #fd7558;
    border: solid;
    color: #fd7558;
    cursor: pointer;
}

.outline-li:hover {
    border: solid;
    border-color: #fd7558;
    background-color: #fd7558;
    color: #ffecaa;
    text-decoration: none;
}

.navigation a.cari {
    color: #fd7558;
    font-size: 20px;
    padding: 0;
    width: 60px;
}

@media only screen and (max-width: 768px) {
    nav .navigation {
        width: 100%;
        background-color: #fd7558;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 10;
    }

    nav .navigation a {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
        color: #fff;
        width: 100%;
        margin: 0;
    }

    .navigation .active {
        background-color: #fff;
        color: #fd7558;
    }

    nav .navigation a:not(.active):hover {
        color: #ffecaa;
        border: none;
    }

    .menu_icon {
        display: block;
    }

    #menuList {
        overflow: hidden;
        transition: 0.5s;
        max-height: 0px;
    }
}

/* Untuk button */

button {
    background-color: #fd7558;
    border: solid;
    color: white;
    cursor: pointer;
    transition: 0.7s;
    margin: 40px 0;
    padding: 14px 80px;
    font-size: 20px;
}

button:hover {
    border: solid;
    border-color: #fd7558;
    color: #fd7558;
    background-color: white;
}

.body_container {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40px;
}

.form_container {
    display: flex;
    margin: 15px 170px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    width: 40vw;
    text-align: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* gambar bunga */
.atas {
    width: 300px;
    position: relative;
    left: 4px;
    top: 4px;
    align-self: flex-start;
}

.bawah {
    width: 280px;
    position: relative;
    right: 4px;
    bottom: 0;
    align-self: flex-end;
}

.title_masuk {
    margin: 20px 20px;
    text-align: center;
    color: #fd7558;
}

.box_masuk {
    padding: 10px;
    text-align: left;
}

.box_masuk h3 {
    padding: 8px 0;
}

.box_masuk input {
    border: 3px solid #fd7558;
    border-radius: 1px;
    outline: none;
    font-size: 20px;
    padding: 5px;
}

.login {
    width: 30vw;
}

/* page success */
.ceklis {
    width: 130px;
}
/*  */

.lupa_masuk {
    display: block;
    width: max-content;
    margin-left: auto;
    font-weight: 500;
    margin-right: 15px;
    text-decoration: underline;
}

.lupa_masuk:hover {
    color: #fd7558;
}

.akun_masuk,
.daftar_masuk {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.daftar_masuk {
    color: #fd7558;
}

.daftar_masuk:hover {
    text-decoration: underline;
}

/* Header versi responsive */
@media only screen and (max-width: 768px) {
    .form_container {
        padding: 40px;
        width: 400px;
    }

    .box_masuk input {
        width: 300px;
    }
}
