* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
    font-size: 36px;
}

h2 {
    font-family: "Noto Sans", sans-serif;
    font-size: 30px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

p {
    font-size: 18px;
}

.container {
    width: 100%;
    min-height: 100vh;
    overflow: center;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #ffecaa;
    padding-bottom: 13px;
}

.logo {
    width: 80px;
    cursor: pointer;
    margin: 8px 0;
}

nav {
    flex: 1;
    text-align: center;
}

nav ul {
    float: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    width: 160px;
}

nav ul li a {
    text-decoration: none;
    color: #fd7558;
    padding-bottom: 20px;
}

nav ul li a:hover {
    font-weight: 800;
    color: #fd7558;
}

/* Ini buat nunjukin dia lagi di page mana */
.active {
    border-bottom: 6px solid #fd7558;
    font-weight: 800;
    color: #fd7558;
}

.outline-li {
    padding: 10px 20px;
    background-color: #ffecaa;
    border-color: #fd7558;
    border: solid;
    color: #fd7558;
    cursor: pointer;
}

.outline-li:hover {
    border: solid;
    border-color: #fd7558;
    background-color: #fd7558;
    color: #ffecaa;
    text-decoration: none;
}

/* KHUSUS HEADER VERSI 3 */
.partner {
    padding-left: 10px;
    color: #fd7558;
    font-family: "Noto Sans";
    font-size: 22px;
    font-weight: 600;
}
/* YAK SEGITU AJA */

.menu_icon {
    width: 27px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 1240px) {
    nav ul {
        width: 100%;
        background-color: #fd7558;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
    }

    nav ul li a,
    .outline-li {
        color: #fff;
        font-size: 16px;
        background-color: #fd7558;
        border: none;
    }

    nav ul li a:hover,
    .outline-li:hover {
        background-color: #fd7558;
        color: #ffecaa;
        border: none;
    }

    .active {
        color: #fff;
    }

    .menu_icon {
        display: block;
    }

    #menuList {
        overflow: hidden;
        transition: 0.5s;
    }
}

/* Untuk button */
button {
    background-color: #fd7558;
    border: solid;
    color: white;
    cursor: pointer;
    transition: 0.7s;
    margin: 0 auto;
    padding: 15px 50px;
    font-size: 20px;
}

button:hover {
    border: solid;
    border-color: #fd7558;
    color: #fd7558;
    background-color: white;
}

.body_container {
    width: 100%;
}

.box_image {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 360px;
    right: -5%;
    top: 43%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.box_image img {
    width: 100%;
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
    backface-visibility: hidden;
}

.front {
    transform: perspective(1000px) rotateY(0deg);
    z-index: 2;
}

.back {
    transform: perspective(1000px) rotateY(180deg);
    z-index: 1;
}

.box_image:hover .front {
    transform: perspective(1000px) rotateY(-180deg);
    z-index: 2;
}
.box_image:hover .back {
    transform: perspective(1000px) rotateY(0deg);
    z-index: 1;
}

.tabell {
    margin: 20px 0 70px 80px;
    width: 60%;
}

.tabell td {
    padding: 10px;
}

.tabell img {
    width: 30px;
    margin-right: 20px;
}

.outlet-description,
.outlet-location {
    width: 45%;
    margin: 20px 0 40px 80px;
}

/* 
.outlet-location {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info img {
    height: 30px;
    display: inline-block;
}

.info .outlet-location h3 {
    display: inline-block;
    padding-left: 10px;
}

.info .outlet-location {
    display: block;
}

.outlet-description,
.outlet-detail {
    width: 800px;
    float: none;
    text-align: justify;
    left: 8%;
    margin-top: 30px;
    margin-left: 100px;
    padding: 30px;
} */
