* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
    font-size: 36px;
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

p {
    font-size: 18px;
}

li{
    list-style: none;
}

.container {
    width: 100%;
    min-height: 100vh;
    overflow: center;
}

/* Ini buat nunjukin dia lagi di page mana */
.active {
    border-bottom: solid;
    position: relative;
    border-bottom-width: 6px;
    border-bottom-color: #FD7558;
    font-weight: 800;
    color: #FD7558;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #FFECAA;
}

.logo {
    width: 80px;
    cursor: pointer;
    margin: 8px 0;
}

nav {
    flex: 1;
    text-align: center;
}

nav ul {
    float: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    width: 160px;
}

nav ul li a {
    text-decoration: none;
    padding: 0 20px;
    color: #FD7558;
    padding-bottom: 9px;
}

nav ul li a:hover {
    font-weight: 800;
    color: #FD7558;
}

/* KHUSUS HEADER VERSI 2 */
.cari {
    padding-top: 16px;
    padding-right: 20px;
    padding-left: 20px;
    color: #FD7558;
    font-size: 24px;
    margin: 0 50px;
    width: 60px;
}

.cari:hover {
    border-bottom: none;
    color: #FD7558;
    font-size: 26px;
    cursor: pointer;
}

/* YAK SEGITU AJA */

.body_container {
    background-color: white;
    /* atur aje bos */
}

.menu_icon {
    width: 27px;
    cursor: pointer;
    display: none;
}

/* Untuk button */
button {
    padding: 5px 15px;
    background-color: #FD7558;
    border: solid;
    font-size: 18pt;
    color: white;
    cursor: pointer;
    transition: .7s;
}

button:hover {
    border: solid;
    border-color: #FD7558;
    color: #FD7558;
    background-color: white;

}

/* Header versi responsive */
@media only screen and (max-width: 768px) {    
    nav ul{
        width: 100%;
        background-color: #FD7558;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
    }

    nav ul li a {
        color: #FFF;
        font-size: 16px;
    }

    nav ul li a:hover {
        background-color: #FFF;
        color: #FD7558;
    }

    .menu_icon {
        display: block;
    }

    #menuList {
        overflow: hidden;
        transition: 0.5s;
    }
}

.nav-header2 {
    width: 50%;
    display: inline-block;
    background-color: #ffecaa;
    color: #FD7558;
}

.nav-header2 li {
    display: inline-block;
    padding: 20px;

}

.nav-body2 {
    float: left;
    width: 50%;
    height: 80vh;
    background-color: #FD7558;
    border-bottom-right-radius: 150px;
}

.nav-body2 img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .nav-body2 {
        display: none;
    }

    .nav-header2 {
        width: 100%;
        height: auto;
        display: block;
        background-color: #ffecaa;
    }

    .account {
        width: 100%;
        min-width: 350px;
    }

    .antri h2{
        width: 100%;
        position: absolute;
        right: -3%;
    }

    .tab{
        width: 100%;
        position: absolute;
        top: 60px;
    }
}

@media screen and (max-device-width: 768px) {
    .header{
        width: 100%;
    }

    .body-profil{
        width: 100%;
        display: block;
    }

    .maindown .body-profil2{
        display: block;
        float: none;
        height: 80px;
        width: 100%;
    }

    .maindown .body-profil2 li{
        display: inline-block;
    }

    .body-profil2 .bodown h2{
        display: block;
        padding-left: 20px;
        padding-top: 20px;
    }

    .body-profil2 .bodown img{
        float: right;
        padding-top: 10px;
        padding-right: 20px;
    }

    .body-profil2 .body-pro h2 ul{
        display: none;
        background-color: #FD7558;
        z-index: 10;
    }

    .body-profil2 .body-pro h2 ul li{
        display: block;
    }

    .body-profil2 .body-fil{
        display: none;
    }

    .body-profil .tabel{
        padding-left: 5px;
    }
   
}

.account {
    display: inline-block;
    padding: 10px 30px;
    width: 50%;
}

.account-button {
    display: flex;
    position: relative;
    float: right;
    flex-direction: column;
    justify-content: right;
    margin-top: 40px;
}

/* .account-button :hover {
    border: solid;
    border-color: #FD7558;
    color: #FD7558;
    background-color: white;
} */

.account-button button {
    min-width: 200px;
    display: block;
    max-width: 300px;
}

/* .account-button button :hover {
    border: solid;
    border-color: #FD7558;
    color: #FD7558;
    background-color: white;
} */



.account h1, h2 {
    border-bottom: black solid 1px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.antri h2{
    margin-left: 670px;
    border-bottom: none;
}

.account p {
    padding-top: 10px;
}

.tab {
    float: left;

    height: 70px;
    border-collapse: collapse;
    border-spacing: none;
    width: 580px;
}

.tab thead th, tbody td {
    padding-left: 10px;
    height: 35px;
    text-align: left;
}

.tab thead th {
    background-color: #FD7558;
    color: #ffecaa;
}

.tab tbody td {
    border-bottom: solid;
    border-color: #FD7558;
}

.tab tbody p{
    background-color: #FFECAA;
    padding-left: 15px;
}

.tab img{
    position: relative;
    top: 5px;
    width: 13px;
}

.Rbutton { 
    position: relative;
    top: 20px;
}

.Rbutton :hover {
    border: solid;
    border-color: #FD7558;
    color: #FD7558;
    background-color: white;
}

.Rbutton button {
    min-width: 200px;
    display: block;
    max-width: 300px;
    margin: auto;
}

.Rbutton button :hover {
    border: solid;
    border-color: #FD7558;
    color: #FD7558;
    background-color: white;
}


.header-2 {
    width: 100%;
    background-color: #ffecaa;
    padding: 25px;
    position: relative;
}

.header-2 li{
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 70px;
}

.header-2 a{
    font-weight: bold;
    color: black;
}

.header-2 h2{
    border-bottom: none;
}

.header-2 img{
    width: 20px;
    position: absolute;
    top: 15px;
    left: 30px;
    cursor: pointer;
}

.body-profil2{
    float: left;
    width: 25%;
    height: 88vh;
    background-color: #FD7558;
}


.body-profil2 h2{
    border-bottom: none;
}


.body-profil2 a:hover{
    color: #ffecaa; opacity: 1;
}

.bodown h2{
    display: none;
}

.body-profil2 .body-pro h2 ul{
    display: none;
    position: relative;
}
/* .body-pro h2{
    padding: 20px;
    text-align: left;
}

.body-pro img{
    padding: 0px;
    width: 40px;
    cursor: pointer;
    display: inline;
} */

.pointer{
    position: relative;
    display: block;
    transition: all .3s ease-in-out;
    padding-block: 15px;
    color: #ffecaa; opacity: 1;
    font-weight: 800;
    border-left: solid;
    border-color: #ffecaa;
    border-left-width: 10px;
    
}

.hide {
    position: relative;
    left: 10px;
    display: block;
    transition: all .3s ease-in-out;
    padding-block: 15px;
    color: #ffecaa; opacity: 0.6;
}

.pointer, .hide{
    padding-left: 20px;
}

.body-edit{
    display: inline-block;
    padding: 10px 30px;
    width: 75%;
}

.body-edit h1{
    padding: 10px 0px;
}

.details{
    font-size: 24px;
    font-weight: 600;
}

.input-box input{
    margin-right: 100px;
    width: 95%;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

input[type="text"]{
    box-sizing: border-box;
    border: 2px solid #FD7558;
}

input[type="text"]:focus{
    outline-color: #FD7558;
}

input[type="password"]{
    box-sizing: border-box;
    border: 2px solid #FD7558;
}

input[type="password"]{
    outline-color: #FD7558;
}

.edit-button{
    float: right;
    margin-right: 70px;
}

.tabel{
    width: 100%;
    padding-left: 25%;
}

.body-profil table {
    margin: 20px 50px 10px 50px;
   
}

.body-profil table thead th{
    padding-left: 10px;
    padding-right: 100px;
    height: 35px;
}

.body-profil table tbody td{
    padding-right: 100px;
}

.tab-notif{
    height: 70px;
    border-collapse: collapse;
    border-spacing: none;
    width: 90%;
}

.tabel h1{
    padding: 15px 0px 0px 50px;
}

.tab-notif tbody td {
    padding-left: 10px;
    height: 35px;
    text-align: center;
}

.tab-notif tbody p{
    text-align: left;
}

.tab-notif thead th {
    background-color: #FD7558;
    color: #ffecaa;
    text-align: left;
}

.tab-notif tbody td {
    border-bottom: solid;
    border-color: #FD7558;
}

.notif-button{
    float: right;
    margin: 20px 30px;
}

.body-privasi p{
    margin-top: 50px;
    margin-left: 350px;
}
  
.body-privasi tbody{
    border-top: solid #FD7558;
}