* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
    font-size: 36px;
}

h2 {
    font-family: "Noto Sans", sans-serif;
    font-size: 30px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

p {
    font-size: 18px;
}

li {
    list-style: none;
}

.container {
    width: 100%;
    min-height: 100vh;
    overflow: center;
}

header {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 15px;
    background-color: #fff;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.logo {
    width: 80px;
    cursor: pointer;
    margin: 4px 0;
    justify-self: center;
    display: flex;
    align-items: center;
}

.logo div {
    min-width: 380px;
    color: #fd7558;
    font-size: 22px;
}

.navigation a {
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    width: 130px;
    height: 100%;
    padding: 22.5px 0;
    color: #fd7558;
    margin: 0px 5px;
}

.navigation a:hover {
    font-weight: 900;
}

.active {
    border-bottom: #fd7558 6px solid;
    font-weight: 900;
}

.menu_icon {
    width: 27px;
    cursor: pointer;
    display: none;
    padding: 26px 0;
}

.navigation .outline-li {
    margin-right: 20px;
    padding: 7px 5px;
    width: 100px;
    border-color: #fd7558;
    border: solid;
    color: #fd7558;
    cursor: pointer;
}

.outline-li:hover {
    border: solid;
    border-color: #fd7558;
    background-color: #fd7558;
    color: #fff;
    text-decoration: none;
}

.navigation a.cari {
    color: #fd7558;
    font-size: 20px;
    padding: 0;
    width: 60px;
}

@media only screen and (max-width: 768px) {
    nav .navigation {
        width: 100%;
        background-color: #fd7558;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 10;
    }

    nav .navigation a {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
        color: #fff;
        width: 100%;
        margin: 0;
    }

    .navigation .active {
        background-color: #fff;
        color: #fd7558;
    }

    nav .navigation a:not(.active):hover {
        color: #fff;
        border: none;
    }

    .menu_icon {
        display: block;
    }

    #menuList {
        overflow: hidden;
        transition: 0.5s;
        max-height: 0px;
    }
}

/* Untuk button */
button {
    padding: 5px 15px;
    background-color: #fd7558;
    border: solid;
    font-size: 18pt;
    color: white;
    cursor: pointer;
    transition: 0.7s;
}

button:hover {
    border: solid;
    border-color: #fd7558;
    color: #fd7558;
    background-color: white;
}

.nav-header2 {
    width: 50%;
    display: inline-block;
    background-color: #ffecaa;
    color: #fd7558;
}

.nav-header2 li {
    display: inline-block;
    padding: 20px;
}

.nav-body2 {
    float: left;
    width: 50%;
    height: 80vh;
    background-color: #fd7558;
    border-bottom-right-radius: 150px;
}

.nav-body2 img {
    width: 100%;
}

.tabelR button {
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .nav-body2 {
        display: none;
    }

    .nav-header2 {
        width: 100%;
        height: auto;
        display: block;
        background-color: #ffecaa;
    }

    .account {
        width: 100%;
        min-width: 350px;
    }

    .antri h2 {
        width: 100%;
        position: absolute;
        right: -3%;
    }

    .body-profil .tabel {
        padding-left: 5px;
    }

    .nav-body .tabelR {
        padding: 0px 0px 0px 0px;
    }
}

@media screen and (max-device-width: 768px) {
    .header {
        width: 100%;
    }

    .body-profil {
        width: 100%;
        display: block;
    }

    .maindown .body-profil2 {
        display: block;
        float: none;
        height: 80px;
        width: 100%;
    }

    .maindown .body-profil2 li {
        display: inline-block;
    }

    .body-profil2 .bodown h2 {
        display: block;
        padding-left: 20px;
        padding-top: 20px;
    }

    .body-profil2 .bodown img {
        float: right;
        padding-top: 10px;
        padding-right: 20px;
    }

    .body-profil2 .body-pro h2 ul {
        display: none;
        background-color: #fd7558;
        z-index: 10;
    }

    .body-profil2 .body-pro h2 ul li {
        display: block;
    }

    .body-profil2 .body-fil {
        display: none;
    }

    .body-profil .tabel {
        padding-left: 5px;
    }
}

@media screen and (max-device-width: 768px) {
    .body-profil .body-privasi {
        padding: 0px 0px 0px 0px;
    }
}

.account {
    display: inline-block;
    padding: 10px 30px;
    width: 50%;
}

.account-button {
    display: flex;
    position: relative;
    float: right;
    flex-direction: column;
    justify-content: right;
    margin-top: 40px;
}

.account-button button {
    min-width: 200px;
    display: block;
    max-width: 300px;
}

.account h1,
h2 {
    border-bottom: black solid 1px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.antri h2 {
    margin-left: 670px;
    border-bottom: none;
}

.account p {
    padding-top: 10px;
}

.tabelR h1 {
    padding: 10px 0px 0px 25px;
}

.tabelR {
    width: 100%;
    padding-left: 50%;
}

.nav-body table {
    margin: 20px 0px 30px 30px;
}

.tab {
    border-collapse: collapse;
    border-spacing: none;
    width: 580px;
}

.tab thead th,
tbody td {
    padding-left: 10px;
    height: 35px;
    text-align: left;
}

.tab thead th {
    background-color: #fd7558;
    color: #ffecaa;
}

.tab tbody td {
    border-bottom: solid;
    border-color: #fd7558;
}

/* .tab tbody p{
    background-color: #FFECAA;
    padding-left: 15px;
} */

.tab tbody a {
    background-color: #ffecaa;
    border: #ffecaa solid 3px;
    padding: 5px 15px;
}

.tab tbody a:hover {
    background-color: #fff;
    border: #ffecaa solid 3px;
    padding: 5px 15px;
}

.tab img {
    position: relative;
    top: 5px;
    width: 13px;
}

.header-2 {
    width: 100%;
    background-color: #ffecaa;
    padding: 25px;
    position: relative;
}

.header-2 li {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 70px;
}

.header-2 a {
    font-weight: bold;
    color: black;
}

.header-2 h2 {
    border-bottom: none;
}

.header-2 img {
    width: 20px;
    position: absolute;
    top: 15px;
    left: 30px;
    cursor: pointer;
}

.body-profil2 {
    float: left;
    width: 25%;
    height: 88vh;
    background-color: #fd7558;
}

.body-profil2 h2 {
    border-bottom: none;
}

.body-profil2 a:hover {
    color: #ffecaa;
    opacity: 1;
}

.bodown h2 {
    display: none;
}

.body-profil2 .body-pro h2 ul {
    display: none;
    position: relative;
}

.pointer {
    position: relative;
    display: block;
    transition: all 0.3s ease-in-out;
    padding-block: 15px;
    color: #ffecaa;
    opacity: 1;
    font-weight: 800;
    border-left: solid;
    border-color: #ffecaa;
    border-left-width: 10px;
}

.hide {
    position: relative;
    left: 10px;
    display: block;
    transition: all 0.3s ease-in-out;
    padding-block: 15px;
    color: #ffecaa;
    opacity: 0.6;
}

.pointer,
.hide {
    padding-left: 20px;
}

.body-edit {
    display: inline-block;
    padding: 10px 30px;
    width: 75%;
}

.body-edit h1 {
    padding: 10px 0px;
}

.details {
    font-size: 24px;
    font-weight: 600;
}

.input-box input {
    margin-right: 100px;
    width: 95%;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

input[type="text"] {
    box-sizing: border-box;
    border: 2px solid #fd7558;
}

input[type="text"]:focus {
    outline-color: #fd7558;
}

input[type="password"] {
    box-sizing: border-box;
    border: 2px solid #fd7558;
}

input[type="password"] {
    outline-color: #fd7558;
}

.edit-button {
    float: right;
    margin-right: 70px;
}

.tabel {
    width: 100%;
    padding-left: 25%;
}

.body-profil table {
    margin: 20px 50px 10px 50px;
}

.body-profil table thead th {
    padding-left: 10px;
    padding-right: 100px;
    height: 35px;
}

.body-profil table tbody td {
    padding-right: 100px;
}

.tab-notif {
    height: 70px;
    border-collapse: collapse;
    border-spacing: none;
    width: 90%;
}

.tabel h1 {
    padding: 15px 0px 0px 50px;
}

.tab-notif tbody td {
    padding-left: 10px;
    height: 35px;
    text-align: center;
}

.tab-notif tbody p {
    text-align: left;
}

.tab-notif thead th {
    background-color: #fd7558;
    color: #ffecaa;
    text-align: left;
}

.tab-notif tbody td {
    border-bottom: solid;
    border-color: #fd7558;
}

.notif-button {
    float: right;
    margin: 20px 30px;
}

.body-privasi {
    width: 100%;
    padding-left: 25%;
}

.body-privasi h1 {
    padding: 15px 0px 0px 50px;
}

.body-privasi p {
    padding: 15px 0px 0px 50px;
}

.body-privasi .tab {
    width: 92%;
}

.body-privasi tbody {
    border-top: solid #fd7558;
}

.input {
    width: 0;
    height: 0;
    visibility: hidden;
}
label {
    width: 55px;
    height: 30px;
    display: block;
    background-color: #c4c4c4;
    border-radius: 100px;
    position: relative;
    bottom: 10px;
    left: 120px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 20px #c4c4c450;
}
label::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: solid #fd7558;
    position: absolute;
    border-radius: 70px;
    top: 3px;
    left: 6px;
    transition: 0.5s;
}

.input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.input:checked + label {
    background-color: #fd7558;
}

label:active:after {
    width: 30px;
}
