* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
    font-size: 36px;
}

h2 {
    font-family: "Noto Sans", sans-serif;
    font-size: 30px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

p {
    font-size: 18px;
}

header {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 15px;
    background-color: #fff;
}

.logo {
    width: 80px;
    cursor: pointer;
    margin: 4px 0;
    justify-self: center;
    display: flex;
    align-items: center;
}

.logo div {
    min-width: 380px;
    color: #fd7558;
    font-size: 22px;
}

.navigation a {
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    width: 130px;
    height: 100%;
    padding: 22.5px 0;
    color: #fd7558;
    margin: 0px 5px;
}

.navigation a:hover {
    font-weight: 900;
}

.active {
    border-bottom: #fd7558 6px solid;
    font-weight: 900;
}

.menu_icon {
    width: 27px;
    cursor: pointer;
    display: none;
    padding: 26px 0;
}

.navigation .outline-li {
    margin-right: 20px;
    padding: 7px 5px;
    width: 100px;
    border-color: #fd7558;
    border: solid;
    color: #fd7558;
    cursor: pointer;
}

.outline-li:hover {
    border: solid;
    border-color: #fd7558;
    background-color: #fd7558;
    color: #fff;
    text-decoration: none;
}

.navigation a.cari {
    color: #fd7558;
    font-size: 20px;
    padding: 0;
    width: 60px;
}

@media only screen and (max-width: 768px) {
    nav .navigation {
        width: 100%;
        background-color: #fd7558;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 10;
    }

    nav .navigation a {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
        color: #fff;
        width: 100%;
        margin: 0;
    }

    .navigation .active {
        background-color: #fff;
        color: #fd7558;
    }

    nav .navigation a:not(.active):hover {
        color: #fff;
        border: none;
    }

    .menu_icon {
        display: block;
    }

    #menuList,
    #menuList2 {
        overflow: hidden;
        transition: 0.5s;
        max-height: 0px;
    }
}

/* Untuk button */
button {
    padding: 5px 15px;
    background-color: #fd7558;
    border: solid;
    font-size: 18pt;
    color: white;
    cursor: pointer;
    transition: 0.7s;
}

button:hover {
    border: solid;
    border-color: #fd7558;
    color: #fd7558;
    background-color: white;
}

.banner-outlet {
    background-image: url("../img/banner1.png");
    background-size: cover;
    text-align: center;
}

.banner-outlet h2 {
    color: #fd7558;
}

.banner-outlet img {
    display: block;
    margin: 0 auto;
    padding: 50px 10px 20px 10px;
}

@media screen and (max-width: 768px) {
    .banner-outlet img {
        width: 300px;
        padding: 50px 10px 20px 10px;
    }

    .banner-outlet h2 {
        font-size: 20px;
    }
}

.banner-outlet form {
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-outlet form input[type="text"] {
    width: 30%;
    min-width: 150px;
    padding: 10px;
    border-color: transparent;
    border-radius: 5px;
}

.banner-outlet form button {
    background-color: transparent;
    border: none;
    margin: 0 20px;
}

.banner-outlet form button img {
    padding: 0;
    width: 25px;
}

.outlet-filter,
.outlet-cards {
    height: 100%;
    overflow: auto;
    padding: 20px 20px;
}

.outlet-filter {
    width: 20%;
    min-width: 230px;
    max-width: 250px;
    float: left;
}

.filter-desc {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}

.filter-desc img {
    display: inline;
    height: 30px;
}

.filter-desc h3 {
    display: inline;
    margin: 0 10px;
}

.filter {
    display: flex;
    align-items: center;
    display: block;
}

.filter .check label {
    font-size: 26px;
    padding: 10px 10px;
}

.filter .check input[type="checkbox"] {
    transform: scale(1.5);
    margin: 10px 10px;
}

.filter-category h3 {
    display: inline;
    padding: 0 10px 0 0;
}

.filter-category hr {
    display: none;
}

.expand-filter {
    display: none;
    width: 20px;
    float: right;
}

.others button {
    display: flex;
    align-items: center;
    border: none;
    margin: 10px 2px;
    background-color: transparent;
    color: #000;
    padding: 0px;
}

.others button:hover {
    cursor: pointer;
}

.others button img {
    display: inline;
    height: 30px;
}

.others button h3 {
    display: inline;
    margin: 0 10px;
}

.outlet-cards {
    min-width: 250px;
}

.outlet-cards #outlet-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-shrink: 3;
}

.card {
    margin: 10px 10px 30px 10px;
}

.card:hover {
    cursor: pointer;
}

.card img {
    height: 150px;
    width: 225px;
    border: #fd7558 3px solid;
    display: block;
}

.card .card-text {
    width: 225px;
    height: 50px;
    background-color: #ffecaa;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pagination {
    display: inline-block;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 0;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #fd7558;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.outlet-info,
.new-queue {
    height: 100%;
    overflow: auto;
    display: inline-block;
}

.outlet-info {
    padding: 20px 40px;
    width: 60%;
    min-width: 360px;
    float: left;
    text-align: justify;
    text-justify: inter-word;
}

.outlet-info h2 {
    margin: 20px 0 5px 0;
}

.outlet-info p {
    width: 100%;
}

.outlet-info .outlet-pic {
    margin: 10px auto;
}

.outlet-info .outlet-pic img {
    width: 100%;
}

.outlet-location {
    display: flex;
    align-items: center;
    justify-content: center;
}

.outlet-info .outlet-location img {
    height: 20px;
    display: inline-block;
}

.outlet-location .map img {
    width: 100%;
    height: auto;
}

.outlet-info .outlet-location h3 {
    display: inline-block;
    padding-left: 10px;
}

.outlet-info .outlet-location {
    display: block;
}

@media screen and (max-width: 768px) {
    .outlet-info {
        width: 100%;
        background-size: cover;
    }

    .outlet-filter {
        width: 100%;
        max-width: 768px;
    }

    .filter {
        padding: 20px 0px 30px 0px;
        display: none;
    }

    .expand-filter {
        display: inline-block;
    }

    .filter-category {
        width: 100%;
        padding: 10px 0;
    }

    .filter-category hr {
        display: block;
    }
}

.show {
    display: block;
}

.new-queue {
    margin: 120px 40px;
    width: 30%;
    min-width: 200px;
}

.new-queue select {
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: #fd7558 3px solid;
    background-color: #ffecaa;
}

.new-queue .estimasi {
    margin: 10px 0;
}

.new-queue .estimasi h2 {
    display: inline;
}

.new-queue .estimasi h3 {
    display: inline;
}

.new-queue button {
    margin: 20px 0;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .new-queue {
        margin: 20px 40px;
        width: 80%;
        min-width: 200px;
    }
}

.queue-container {
    padding: 20px 20px;
    width: 100%;
}

.queue-detail {
    text-align: center;
    padding: 20px 20px;
    margin: 30px auto;
    width: 40%;
    min-width: 300px;
    background-color: #ffecaa;
    border: #fd7558 3px solid;
}

.current-queue {
    width: 60%;
    margin: 10px auto;
    background-color: #fff;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .queue_detail {
        width: 100%;
        padding: auto;
    }

    .current-queue {
        width: 80%;
    }
}
